name: build-test-lint
on: push
jobs:
    test:
        runs-on: ubuntu-latest
        steps:
          - name: checkout repo
            uses: actions/checkout@v4
          - name: use node.js
            uses: actions/setup-node@v4
            with:
              node-version: '20.x'
          - run: npm ci
          - run: npx tsc --build
          - run: npx tsc --build --clean
          - run: npm run test
          #- run: npx eslint
